html {
    scroll-behavior: smooth;
    background-color: cadetblue;
}

body {
    min-width: 400px;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly; 
}

.navbar-item {
    margin: 10px;
}

.footer {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly; 
}